<!DOCTYPE html>
<html lang="ru">
  <head>
  </head>
  <body>
    <p>
    <a href="{% url 'users:logout' %}" class="btn btn-link">
      Выйти
    </a>
    <p>
    <a href="{% url 'hosts:hosts_create' %}" class="btn btn-link">
      Создать хост
    </a>
    </p>
    <hr>
    </p>
    Хосты:
    {% for host in hosts %}
    <p>
    Владелец: {{ host.owner }}
    </p>
    <p>
    ip адрес: {{ host.ip }} {{ host.port}}
    </p>
    <p>
    ресурс: {{ host.resource}}
    </p>
    Дата редактирования: {{ host.date|date:'Y-d-m H:i:s' }}
    </p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'hosts:hosts_edit' host.pk %}">
      редактировать хост
    </a>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %} 
  </body>
</html>
